---
layout: page
title: Timeline
permalink: /timeline/index.html
tags: [Timeline]
description: "A timeline of my travel."
imagefeature: lipsum/vaticano.jpg
---


<div class="timeline_div">

  <h1 class="page-heading">{{ title }}</h1>

  <ul class="timeline">

    {% for post in site.posts %}

      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}

      <!-- ids are forbidden here as this content may be included at several locations on the same page -->
      <!-- this line is 1 article element and its class is used to identify it -->
      <li class="article-{{ post.category }}">
        <a href="{{ post.url }}">
        {% if post.imagefeature %}
          {% if posttime < nowunix %}
            <div class="article-background article-background-{{ post.id }}"></div>
          {% else %}
            <div class="article-background article-background-grayed article-background-{{ post.id }}"></div>
          {% endif %}
        {% else %}
        <div class="article-background"></div>
        {% endif %}
        <div class="article-panel">
          <div class="article-heading">
            <h4 class="article-title">
              {% if post.location.countrycode %}
                <span class="flag-icon flag-icon-{{ post.location.countrycode }}"></span>
              {% endif %}
              {{ post.title }}
            </h4>
            <!-- second title, to have the original name for instance -->
            {% if post.subtitle %}
              <h4 class="article-title">{{ post.subtitle }}</h4>
            {% endif %}
            <p>
              <!-- title complementary info -->
              <small><i class="glyphicon glyphicon-time"></i>
                {% if posttime < nowunix %}
                  {{ post.date | date: "%b %-d, %Y" }}
                {% else %}
                  {{ post.date | date: "%B %Y" }}
                {% endif %}
              </small>
            </p>
          </div> <!-- article heading div -->
          <!-- summary of the article -->
          <div class="article-abstract">
            <p>{{ post.description }}</p>
          </div>
          <!-- content of the article -->
     	    <div class="article-buttons">
            <!-- to show the user where the location is -->
            {% if post.address %}
            <div class="article-map">
              <!-- pay attention to use something valid for the address -->
              <button
                type="button"
                class="btn btn-info btn-xs googlemapbutton"
                data-toggle="modal"
                data-target="#map_modal"
                address="{{ post.address }}">
                <span class="glyphicon glyphicon-map-marker"></span>
              </button>
            </div> <!-- article-map end -->
            {% endif %}
          <div class="article-more"></div> <!-- article-buttons end -->
      	  </div>
        </div> <!-- background image set in css/background.css -->
        </a>
      </li>
      


    {% endfor %}

  </ul>

</div>
