<aside id="sidebar">
    <nav id="navigation">
    <h2>MENU</h2>
    <hr>
{% for link in site.links %}
            <li>{% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %} </li>
{% endfor %}
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss"></i> Feed</a></li>
    </nav>

{% if site.revolvermapid %}
    <div id="revolvermap">
      <script 
        type="text/javascript"
        src="//ra.revolvermaps.com/0/0/5.js?i={{ site.revolvermapid }}&amp;m=7&amp;s=180&amp;c=7f4682&amp;cr1=ffffff&amp;rs=100&amp;as=50&amp;cr0=7f4682" async="async">
      </script>
    <p>Visitor's location</p>
    </div>
{% endif %}

</aside>

