<!DOCTYPE html>
<html>
{% include credits.html %}
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">

<div id="fade"></div>
<a id="slide" class="animated fade"></a>
{% include aside.html %}

<header style="border: 1px solid white;">
  {% if site.search %}
    <button class="menu-button animated fade dosearch">
        <i class="fa fa-search"></i>
    </button>
  {% endif %}
</header>

{{ content }}

{% include scripts.html %}  
</body>
</html>
